# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.vite

# Node.js local installation
node-v18.20.4-darwin-x64
node-v18.20.5-darwin-x64
node-v18.20.4-darwin-x64.tar.gz
node-v18.20.5-darwin-x64.tar.gz